---

- name: Build list of all desired packages
  ansible.builtin.set_fact:
    # use custom filter for finding package names based on ansible_facts[os_family
    # because that reduces the amount of duplication
    __packaged_software_pkgs_to_install: "{{ (special_package_names[ansible_facts['os_family']] | dict2items | map(attribute='key') | list) + (generic_package_names | select_package_names(ansible_facts['os_family'])) }}"

- name: Build blacklist of all unwanted packages
  ansible.builtin.set_fact:
    __packaged_software_pkgs_to_remove: "{{ (special_package_blacklist[ansible_facts['os_family']] | dict2items | map(attribute='key') | list) + (generic_package_blacklist | select_package_names(ansible_facts['os_family'])) }}"

- name: Install software using apt
  when: ansible_facts['os_family'] == 'Debian'
  ansible.builtin.apt:
    pkg: "{{ __packaged_software_pkgs_to_install }}"
  become: true

- name: Uninstall unwanted software using apt
  when: ansible_facts['os_family'] == 'Debian'
  ansible.builtin.apt:
    pkg: "{{ __packaged_software_pkgs_to_remove }}"
    state: absent
  become: true

- name: Install software using pacman
  when: ansible_facts['os_family'] == 'Archlinux'
  community.general.pacman:
    name: "{{ __packaged_software_pkgs_to_install }}"
    state: present
  become: true

- name: Uninstall unwanted software using pacman
  when: ansible_facts['os_family'] == 'Archlinux'
  community.general.pacman:
    name: "{{ __packaged_software_pkgs_to_remove }}"
    state: absent
  become: true
