# https://manpages.debian.org/testing/apt/apt_preferences.5.en.html

Package: *
Pin: release a=stable
# priority 100-499 means  packages will only be installed or updated,
# if there is no version available from other repositories
Pin-Priority: 100
