# default to testing
deb http://debian.charite.de/debian/ testing main contrib non-free non-free-firmware
deb-src http://debian.charite.de/debian/ testing main contrib non-free non-free-firmware

# Say no to Frankendebian
# fall back to stable if the package is not available in testing
#deb http://debian.charite.de/debian/ stable main contrib non-free non-free-firmware
#deb-src http://debian.charite.de/debian/ stable main contrib non-free non-free-firmware


deb http://security.debian.org/debian-security testing-security main contrib non-free non-free-firmware
deb-src http://security.debian.org/debian-security testing-security main contrib non-free non-free-firmware

# testing-updates, to get updates before a point release is made;
# see https://www.debian.org/doc/manuals/debian-reference/ch02.en.html # _updates_and_backports
deb http://debian.charite.de/debian/ testing-updates main contrib non-free non-free-firmware
deb-src http://debian.charite.de/debian/ testing-updates main contrib non-free non-free-firmware
