---
- name: Create directory for custom X11 configuration file
  ansible.builtin.file:
    dest: "/etc/X11/Xsession.d"
    owner: root
    group: root
    state: directory
    mode: "0755"
  become: true

  

- name: Create X11 configuration file that will add our custom desktop shortcut dir to XDG_DATA_DIR
  ansible.builtin.copy:
    src: 99_custom_desktop_shortcuts
    dest: /etc/X11/Xsession.d/99_custom_desktop_shortcuts
    owner: root
    group: root
    mode: "0644"
  become: true
